<!-- Ds Thương hiệu -->
<div class="small-container" *ngFor="let item of thuongHieu"  >
  <div class="row justify-content-md-center thuongHieu">
    <h1 class="col-lg-3 col-md-3">{{ item.tenThuongHieu }}</h1>
  </div>
  <div class="moTa">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
      repudiandae iusto. Odio, alias praesentium eligendi est eius delectus
      quasi voluptatibus qui odit dolore. Quis id harum, minima aspernatur
      aliquid cumque.
    </p>
  </div>

  <!-- <div class="row row-2">
    <h2>{{ item.tenThuongHieu }}</h2>
    <select (change)="locLoaiSP($event)">
      <option value="0">Tất cả sản phẩm</option>
      <option *ngFor="let loaiSp of item.loaiSps" [value]="loaiSp.id">{{
        loaiSp.tenLoaiSp
      }}</option>
    </select>
    <select>
      <option value="">Default shoping</option>
      <option value="">Short by price</option>
      <option value="">Short by popularity</option>
      <option value="">Short by rating</option>
      <option value="">Short by sale</option>
    </select>
  </div> -->

  <!-- star -->
  <div class="s003">
    <form>
      <div class="inner-form">
        <div class="input-field first-wrap">
          <div class="input-select">
            <select (change)="locLoaiSP($event)">
              <option value="0">Tất cả sản phẩm</option>
              <option *ngFor="let loaiSp of item.loaiSps" [value]="loaiSp.id">
                {{ loaiSp.tenLoaiSp }}</option
              >
            </select>
          </div>
        </div>
        <div class="input-field first-wrap">
          <div class="input-select">
            <select data-trigger="" name="choices-single-defaul">
              <option value="">Sắp xếp theo</option>
              <option value="">Short by price</option>
              <option value="">Short by popularity</option>
              <option value="">Short by rating</option>
              <option value="">Short by sale</option>
            </select>
          </div>
        </div>
        <div class="input-field second-wrap">
          <input id="search" type="text" placeholder="Tìm kiếm" />
        </div>

        <!-- Search -->
        <div class="input-field third-wrap">
          <button class="btn-search" type="button">
            <svg
              class="svg-inline--fa fa-search fa-w-16"
              aria-hidden="true"
              data-prefix="fas"
              data-icon="search"
              role="img"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
              ></path>
            </svg>
          </button>
        </div>
        <!-- End-search -->
      </div>
    </form>
  </div>
  <!-- end -->

  <div class="row">
    <div
      class="col-4 thongTinSanPham"
      *ngFor="
        let sanPham of dsSanPhamLoc
          | paginate: { itemsPerPage: 10, currentPage: p }
      "
    >
      <img
        [routerLink]="['san-pham', sanPham.id]"
        routerLinkActive="router-link-active"
        src="../../../assets/img/sp1.png"
        alt=""
      />
      <h4>
        {{ sanPham.tenSp }}
      </h4>
      <div class="rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
      <p>{{ sanPham.gia }}</p>
    </div>
  </div>
  <pagination-controls
    class="page-btn"
    (pageChange)="p = $event"
    previousLabel=""
    maxSize="9"
    nextLabel=""
  ></pagination-controls>
  <!-- <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>
      </div> -->
  <!-- </div>
  </div> -->
</div>
