@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

/**
 * Demo Styles
 */
/**
 * Footer Styles
 */

.demo {
  font-family: "Sriracha", cursive;
  margin: 0 auto;
  padding-top: 64px;
  // max-width: 640px;
  width: 100%;
  padding: 5% 10%;
  h1 {
    padding-bottom: 3%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
