<div class="sanPham">
  <h3>
    Danh sách thương hiệu
  </h3>
  <div class="sanPham_chucNang">
    <button
      type="button"
      class="btn btn-success"
      data-toggle="modal"
      data-target="#exampleModalCenter"
    >
      Thêm thương hiệu
    </button>
    <form
      [formGroup]="themThuongHieuForm"
      class="row justify-content-md-center"
      (ngSubmit)="themThuongHieu()"
    >
      <div
        class="modal fade form-group"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Thêm thương hiệu
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label for="">Tên thương hiệu</label>
                <input
                  type="text"
                  class="form-control"
                  id="tenThuongHieu"
                  aria-describedby="helpId"
                  placeholder=""
                  formControlName="tenThuongHieu"
                />
                <div
                  *ngIf="
                    themThuongHieuForm.get('tenThuongHieu').invalid &&
                    (themThuongHieuForm.get('tenThuongHieu').touched ||
                      themThuongHieuForm.get('tenThuongHieu').dirty)
                  "
                >
                  <small
                    style="color: red;"
                    *ngIf="
                      themThuongHieuForm.get('tenThuongHieu').errors.required
                    "
                  >
                    Tên thương hiệu không được bỏ trống</small
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1 moTa">Mô tả</label>
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1 moTa"
                  rows="3"
                  formControlName="moTa"
                ></textarea>
                <div
                  *ngIf="
                    themThuongHieuForm.get('moTa').invalid &&
                    (themThuongHieuForm.get('moTa').touched ||
                      themThuongHieuForm.get('moTa').dirty)
                  "
                >
                  <small
                    style="color: red;"
                    *ngIf="themThuongHieuForm.get('moTa').errors.required"
                  >
                    Mô tả không được bỏ trống</small
                  >
                </div>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Hủy
                </button>

                <!-- Button trigger modal -->
                <button type="submit" class="btn btn-primary">
                  Thêm
                </button>
                <!-- Modal -->
              </div>
            </div>
            <!-- -- -->
          </div>
        </div>
        <!-- end drop -->
      </div>
    </form>
    <div class="sanPham_danhSach">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên thương hiệu</th>
              <th>Mô tả</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of thuongHieu
                  | paginate: { itemsPerPage: 9, currentPage: p };
                let i = index
              "
            >
              <th>{{ i + 1 }}</th>
              <td>{{ item.tenThuongHieu }}</td>
              <td>{{ item.moTa }}</td>
              <th>
                <button
                  (click)="xoaThuongHieu(item.id)"
                  type="button"
                  class="btn btn-danger mr-2"
                >
                  Xóa
                </button>

                <!-- Button trigger modal -->
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#exampleModal"
                >
                  Sửa
                </button>

                <!-- Modal -->
                <div
                  class="modal fade"
                  id="exampleModal"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          Modal title
                        </h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                        >
                          Close
                        </button>
                        <button type="button" class="btn btn-primary">
                          Save changes
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </th>
            </tr>
            <pagination-controls
              class="page-btn"
              (pageChange)="p = $event"
              previousLabel=""
              maxSize="9"
              nextLabel=""
            ></pagination-controls>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
