@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

.footer {
  font-family: "Sriracha", cursive;
  background: #c6f1e1;
  color: #085aa0;

  .links {
    ul {
      list-style-type: none;
    }
    li a {
      color: #085aa0;
      transition: color 0.2s;
      &:hover {
        text-decoration: none;
        color: #4180cb;
      }
    }
  }
  .about-company {
    .menu_logo {
      // width: 250px;

      a {
        justify-content: center;
        align-items: center;
        height: 100%;
        // display: flex;

        // justify-content: center;
        // align-items: center;
        font-family: "Alex Brush", cursive;
        font-size: 40px;
        font-weight: 400;
        font-style: normal;
        color: rgb(140, 187, 255);
        /* background: -webkit-linear-gradient(top, rgb(0, 255, 149), rgb(9, 0, 160))
                  text; */
        /* background: -webkit-linear-gradient(
                  45deg,
                  rgb(0, 255, 149),
                  rgb(9, 0, 160) 80%
                ); */
        background: -webkit-linear-gradient(#09009f, #00ff95);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        span {
          font-family: "Mansalva", cursive;
          background-color: rgb(25, 175, 235);
          background: -webkit-linear-gradient(
            45deg,
            rgb(9, 0, 160),
            rgb(0, 255, 149)
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    p {
      color: #085aa0;

      i {
        font-size: 25px;
      }
      a {
        color: #085aa0;
        transition: color 0.2s;
        &:hover {
          color: #4180cb;
        }
      }
    }
  }
  .location {
    i {
      font-size: 18px;
    }
  }
  .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.829);
  }
}
