<div class="sidebar expanded">
  <div
    style="
      text-align: center;
      border-right: 1px solid rgba(228, 219, 219, 0.219);
    "
    class="sidebar-item no-hover"
    id="burger"
  >
    <span class="sidebar-item-title">Quản lý US Beauty</span>
  </div>
  <div class="sidebar-item active">
    <a href="#">
      <i class="fa fa-product-hunt" aria-hidden="true"></i>
      <span class="sidebar-item-title">Quản lý sản phẩm</span>
    </a>
  </div>
  <div class="sidebar-item">
    <a href="#">
      <i class="fa fa-code" aria-hidden="true"></i>
      <span class="sidebar-item-title">Chức năng 2</span>
    </a>
  </div>
  <div class="sidebar-item">
    <a href="#">
      <i class="fa fa-code" aria-hidden="true"></i>
      <span class="sidebar-item-title">Chức năng 3</span>
    </a>
  </div>
  <div class="sidebar-item">
    <a href="#">
      <i class="fa fa-code" aria-hidden="true"></i>
      <span class="sidebar-item-title">Chức năng 4</span>
    </a>
  </div>
</div>
