<div class="sidebar expanded">
  <div
    style="
      text-align: center;
      border-right: 1px solid rgba(228, 219, 219, 0.219);
    "
    class="sidebar-item no-hover"
    id="burger"
  >
    <a [routerLink]="['home']">
      <span class="sidebar-item-title">Quản lý US Beauty</span>
    </a>
  </div>
  <div class="sidebar-item" routerLinkActive="active">
    <a [routerLink]="['thuong-hieu-admin']">
      <i class="fa fa-code" aria-hidden="true"></i>
      <span class="sidebar-item-title">Quản lý thương hiệu</span>
    </a>
  </div>
  <div class="sidebar-item" routerLinkActive="active">
    <a [routerLink]="['loai-san-pham-admin']">
      <i class="fa fa-code" aria-hidden="true"></i>
      <span class="sidebar-item-title">Quản lý loại sản phẩm</span>
    </a>
  </div>
  <div class="sidebar-item" routerLinkActive="active">
    <a [routerLink]="['san-pham-admin']">
      <i class="fa fa-code" aria-hidden="true"></i>
      <span class="sidebar-item-title">Quản lý sản phẩm</span>
    </a>
  </div>
</div>
