<div class="modal-header">
  <h4 class="modal-title">{{my_modal_title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="formThemLsp" (ngSubmit)="onClickSubmit(formThemLsp.value)">
<div class="modal-body">
 
    <div class="form-group">
      <label>Tên Loại Sản Phẩm: </label>
      <input type="input" class="form-control" formControlName="tenLoaiSp" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Mô tả</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="moTa" rows="3" name="moTa"></textarea>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
