<div class="small-container single-product">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <img src="../../../../assets/img/sp1.png" width="100%" />
      <div class="small-img-row">
        <div class="small-img-col" *ngFor="let image of hinhAnh; let i = index">
          <img [src]="image.thumb" (click)="open(i)" width="100%" />
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <span><a [routerLink]="['/']">Trang chủ</a></span> /
      <span
        ><a [routerLink]="['../../']">{{ thuongHieu.tenThuongHieu }}</a></span
      >
      /
      <span
        ><a [routerLink]="['../../']">{{ loaiSp.tenLoaiSp }}</a></span
      >

      <h1 class="my-4">{{ sanPham.tenSp }}</h1>

      <div class="kichCo">
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div
              class="select-box__value"
              *ngFor="let kc of kichCosp; let i = index"
            >
              <input
                class="select-box__input"
                type="radio"
                id="{{ i }}"
                value="{{ i + 1 }}"
                (change)="onKey(kc.giaSp)"
                name="Ben"
                checked="checked"
              />
              <p class="select-box__input-text">{{ kc.tenKichCo }}</p>
            </div>
            <img
              class="select-box__icon"
              src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
              alt="Arrow Icon"
              aria-hidden="true"
            />
          </div>
          <ul class="select-box__list">
            <li *ngFor="let kc of kichCosp; let i = index">
              <label
                class="select-box__option"
                for="{{ i }}"
                aria-hidden="aria-hidden"
                >{{ kc.tenKichCo }}</label
              >
            </li>
          </ul>
        </div>
      </div>
      <h4 class="my-4">Giá sản phẩm: {{ giaSp }}</h4>
      <!-- <input type="number" value="1" />
      <a href="" class="btn"
        ><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cash</a
      > -->
      <div class="chiTietSp">
        <h3>Chi tiết sản phẩm:</h3>
        <p class="mt-2">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
          {{ sanPham.moTa }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="small-container">
  <div class="row row-2">
    <h2>Sản phẩm cùng loại</h2>
    <p id="view-more"><a [routerLink]="['../../']"> View More</a></p>
  </div>
  <div class="row">
    <div class="col-4">
      <img
        routerLinkActive="router-link-active"
        src="../../../assets/img/sp1.png"
        alt=""
      />
      <h4>
        Red Printed T-shirt
      </h4>

      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="../../../assets/img/sp1.png" alt="" />
      <h4>
        Red Printed T-shirt
      </h4>

      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="../../../assets/img/sp1.png" alt="" />
      <h4>
        Red Printed T-shirt
      </h4>

      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="../../../assets/img/sp1.png" alt="" />
      <h4>
        Red Printed T-shirt
      </h4>

      <p>$50.00</p>
    </div>
  </div>
</div>
