@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

.row {
  display: flex;
  // align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  span {
    a {
      text-decoration: none;
      color: #085aa0;
    }
    a:hover {
      color: #4b87bd;
    }
  }
  .chiTietSp {
    line-height: normal;
    h3 {
      color: #085aa0;
    }
  }
}
.col-10 {
  flex-basis: 10%;
}
.col-sm-12 {
  padding: 0 30px 30px 30px;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  max-width: 100%;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.small-container {
  font-family: "Sriracha", cursive;
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 30%;
  padding: 10px;
  min-width: 250px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
  height: 250px;
}
.btn {
  display: inline-block;
  background-color: #085aa0;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #053c6d;
}
p {
  text-align: justify;
}
.title {
  text-align: center;
  margin: 20px auto;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background-color: #085aa0;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.rating .fa {
  color: #085aa0;
}
.col-4:hover {
  transform: translateY(-5px);
}
.row-2 {
  justify-content: space-between;
  margin: 50px auto 10px;
}
#view-more {
  margin-top: 1rem;
}
select {
  border: 1px solid #085aa0;
  padding: 5px;
}
select:focus {
  outline: none;
}
.page-btn {
  margin: 0 auto 80px;
}
.page-btn span {
  display: inline-block;
  border: 1px solid #085aa0;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover {
  background: #085aa0;
  color: #fff;
}
.single-product {
  margin-top: 120px;
}
.single-product .col-2 img {
  padding: 0;
}
.single-product .col-2 {
  padding: 20px;
}
.single-product h4 {
  //   margin: 20px;
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #085aa0;
}
input:focus {
  outline: none;
}
.single-product .fa-indent {
  color: #085aa0;
  margin-left: 10px;
}
.small-img-row {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.small-img-col img {
  padding-top: 5px !important ;
  height: 125px;
}
.kichCo {
  .select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    font-size: 18px;
    color: #60666d;
    top: 0;

    @media (min-width: 768px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      width: 50%;
    }

    @media (min-width: 1200px) {
      width: 30%;
    }

    &__current {
      position: relative;
      box-shadow: 0 10px 20px 0px rgba(0, 100, 225, 0.1);
      cursor: pointer;
      outline: none;

      &:focus {
        & + .select-box__list {
          opacity: 1;

          // We have to set "animation-name: none;" to make the list visible (read below how it works)

          animation-name: none;

          .select-box__option {
            cursor: pointer;
          }
        }

        .select-box__icon {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 20px;
      opacity: 0.3;
      transition: 0.2s ease;
    }

    &__value {
      display: flex;
    }

    &__input {
      display: none;

      &:checked + .select-box__input-text {
        display: block;
      }
    }

    &__input-text {
      display: none;
      width: 100%;
      margin: 0;
      padding: 15px;
      background-color: #fff;
    }

    &__list {
      position: absolute;
      width: 100%;
      padding: 0;
      list-style: none;
      opacity: 0;
      // We need to use animation with delay.
      // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
      // This delay will not be noticed because we set "opacity" to "0".
      // We also use "animation-fill-mode: forwards" to make the list stay hidden.

      animation-name: HideList;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: step-start;
      // box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    }

    &__option {
      display: block;
      padding: 15px;
      color: #085aa0;
      background-color: #f4fcfa;

      &:hover,
      &:focus {
        color: white;
        background-color: #6eb6bf;
      }
    }
  }

  @keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }
}

// media query for less than 600 screen size
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2 .col-4 {
    flex-basis: 100%;
    min-width: 320px;
  }
  .single-product .row {
    text-align: left;
  }
  .single-product .col-2 {
    padding: 20px 0;
    line-height: 22px;
  }
  .small-img-col img {
    height: 90px;
  }
}

.sanPhamCungLoai {
  .rowSanPham {
    .sanPham {
      height: 360px;
      box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
    }
  }
}
