<div class="small-container single-product">
  <div class="row">
    <div class="col-2">
      <img src="../../../../assets/img/sp1.png" width="100%" />
      <div class="small-img-row">
        <div class="small-img-col">
          <img src="../../../../assets/img/sp2.png" width="100%" />
        </div>
        <div class="small-img-col">
          <img src="../../../../assets/img/sp3.png" width="100%" />
        </div>
        <div class="small-img-col">
          <img src="../../../../assets/img/sp1.png" width="100%" />
        </div>
        <div class="small-img-col">
          <img src="../../../../assets/img/sp1.png" width="100%" />
        </div>
      </div>
    </div>
    <div class="col-2">
      <span><a [routerLink]="['/']">Trang chủ</a></span> /
      <span
        ><a [routerLink]="['../../']">{{ sanPham.tenThuongHieu }}</a></span
      >
      /
      <span
        ><a [routerLink]="['../../']">{{ loaiSp.tenLoaiSp }}</a></span
      >

      <h1>{{ sanPham.tenSp }}</h1>

      <div class="kichCo">
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input
                class="select-box__input"
                type="radio"
                id="0"
                value="1"
                name="Ben"
                checked="checked"
              />
              <p class="select-box__input-text">Cream</p>
            </div>
            <div class="select-box__value">
              <input
                class="select-box__input"
                type="radio"
                id="1"
                value="2"
                name="Ben"
                checked="checked"
              />
              <p class="select-box__input-text">Cheese</p>
            </div>
            <img
              class="select-box__icon"
              src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
              alt="Arrow Icon"
              aria-hidden="true"
            />
          </div>
          <ul class="select-box__list">
            <li>
              <label
                class="select-box__option"
                for="0"
                aria-hidden="aria-hidden"
                >Cream</label
              >
            </li>
            <li>
              <label
                class="select-box__option"
                for="1"
                aria-hidden="aria-hidden"
                >Cheese</label
              >
            </li>
          </ul>
        </div>
      </div>
      <h4>Giá: $50.00</h4>
      <!-- <input type="number" value="1" />
      <a href="" class="btn"
        ><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cash</a
      > -->
      <h3>Chi tiết sản phẩm</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
        {{ sanPham.moTa }}
      </p>
    </div>
  </div>
</div>
<div class="small-container">
  <div class="row row-2">
    <h2>Sản phẩm cùng loại</h2>
    <p id="view-more">View More</p>
  </div>
  <div class="row">
    <div class="col-4">
      <img
        routerLinkActive="router-link-active"
        src="../../../assets/img/sp1.png"
        alt=""
      />
      <h4>
        Red Printed T-shirt
      </h4>
      <div class="rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="../../../assets/img/sp1.png" alt="" />
      <h4>
        Red Printed T-shirt
      </h4>
      <div class="rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="../../../assets/img/sp1.png" alt="" />
      <h4>
        Red Printed T-shirt
      </h4>
      <div class="rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="../../../assets/img/sp1.png" alt="" />
      <h4>
        Red Printed T-shirt
      </h4>
      <div class="rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
      <p>$50.00</p>
    </div>
  </div>
</div>
