<div class="modal-header">
  <h4 class="modal-title">{{my_modal_title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="formThemKichCo" (ngSubmit)="onClickSubmit(formThemKichCo.value)">
<div class="modal-body">
    <div class="form-group">
      <label>Tên Kích cỡ: </label>
      <input type="input" class="form-control" formControlName="tenKichCo" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Giá</label>
      <input type="input" class="form-control" formControlName="giaSp" required>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  <button type="submit" class="btn btn-primary">Thêm</button>
</div>
</form>
