<nav class="menu">
  <div class="menu_logo">
    <a [routerLink]="['']"><span>US</span>Beauty</a>
  </div>
  <ol>
    <li class="menu-item"><a [routerLink]="['']">TRANG CHỦ</a></li>
    <li class="menu-item">
      <a>THƯƠNG HIỆU</a>
      <ol class="sub-menu">
        <li
          *ngFor="let item of thuongHieux"
          (click)="onSelectList(item.id)"
          class="menu-item"
        >
          <a>{{ item.id }}</a>
        </li>
      </ol>
    </li>
    <li class="menu-item">
      <a [routerLink]="['gioi-thieu-cong-ty']">CÔNG TY</a>
    </li>
    <li class="menu-item"><a [routerLink]="['lien-he']">LIÊN HỆ</a></li>
  </ol>
  <ol>
    <li></li>
  </ol>
</nav>
