@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Mansalva&display=swap"');

::placeholder {
  color: rgba(8, 89, 160, 0.473);
  font-family: "Karla", sans-serif;
}
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  transform: 0.6s;
  background-color: rgb(198, 241, 225);
  display: flex;
  justify-content: space-around;
  //logo
  .header_logo {
    a {
      font-family: "Alex Brush", cursive;
      font-size: 48px;
      font-weight: 400;
      font-style: normal;
      color: rgb(140, 187, 255);
      /* background: -webkit-linear-gradient(top, rgb(0, 255, 149), rgb(9, 0, 160))
          text; */
      /* background: -webkit-linear-gradient(
          45deg,
          rgb(0, 255, 149),
          rgb(9, 0, 160) 80%
        ); */
      background: -webkit-linear-gradient(#09009f, #00ff95);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      span {
        font-family: "Mansalva", cursive;
        background-color: rgb(25, 175, 235);
        background: -webkit-linear-gradient(
          45deg,
          rgb(9, 0, 160),
          rgb(0, 255, 149)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  //end-logo
  .menu_search {
    display: none;
    justify-content: center;
    align-items: center;
    .header_search_input {
      width: 100%;
      border-bottom: 2px solid #085aa0;
      border-right: none;
      border-top: none;
      border-left: none;
      padding: 14px;
      height: 20px;
      //   border-radius: 5px 0 0 5px;
      outline: none;
      color: #085aa0;
      background-color: rgba(255, 255, 255, 0);
    }

    .header_search_button {
      width: 35px;
      height: 30px;
      border: 1px solid #085aa0;
      background: #085aa0;
      text-align: center;
      color: #fff;
      border-radius: 5px 5px 5px 0;
      cursor: pointer;
      font-size: 12px;
    }
  }
  .header_menu_1 {
    display: flex;
  }
  .header_menu {
    // display: flex;
    justify-content: center;
    align-items: center;
    ul {
      height: 100%;
      position: relative;
      display: flex;
      margin-bottom: 0;
      li {
        padding: 30px 0;
        position: relative;
        margin-right: 20px;
        list-style: none;

        a {
          text-align: center;
          float: left;
          font-size: 14px;
          font-family: "Karla", sans-serif;
          color: #085aa0;
          position: relative;
          text-decoration: none;
          letter-spacing: 1.2px;
          text-transform: uppercase;
        }
        .sub-menu {
          display: none;
          position: absolute;
          ul {
            padding: 0;
            display: inline-grid;
            li {
              display: block;
              padding: 0;
              a {
              }
            }
          }
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          transition: 0.7s;
          border-bottom: 2px solid rgba(8, 89, 160, 1);
        }
        &:hover {
          .sub-menu {
            display: block;
            position: absolute;
            padding-top: 50px;
            left: 0;
            cursor: pointer;
            ul {
              li {
                a {
                  text-align: center;
                  margin-left: auto;
                  width: 140%;
                  left: -20%;
                  padding: 20px 0;
                  background-color: #c6f1e1;
                  transition: 0.7s;
                }
              }
            }

            // &::after {
            //   width: 0;
            //   transition: 0.7s;
            //   border-bottom: 2px solid rgba(8, 89, 160, 1);
            // }
            // &::after {
            //   width: 100%;
            // }
          }
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  .header_search {
    display: flex;
    justify-content: center;
    align-items: center;

    .header_search_input {
      width: 100%;
      border-bottom: 2px solid #085aa0;
      border-right: none;
      border-top: none;
      border-left: none;
      padding: 14px;
      height: 20px;
      //   border-radius: 5px 0 0 5px;
      outline: none;
      color: #085aa0;
      background-color: rgba(255, 255, 255, 0);
    }

    .header_search_button {
      width: 35px;
      height: 30px;
      border: 1px solid #085aa0;
      background: #085aa0;
      text-align: center;
      color: #fff;
      border-radius: 5px 5px 5px 0;
      cursor: pointer;
      font-size: 12px;
    }
  }
  .header_bars {
    display: none;
    justify-content: center;
    align-items: center;
    a {
      font-size: 25px;
      color: #085aa0;
    }
  }
}

//Responsive
@media screen and (max-width: 920px) {
  header {
    flex-direction: column;
    // padding-bottom: 30px;
    .header_logo {
      margin: 0 auto;
    }
    .menu_search {
      display: flex;
      padding-bottom: 20px;
      margin: 0 15%;
      .header_search_input {
        border: 2px solid #085aa0;
        border-radius: 5px 0 0 5px;
      }
      .header_search_button {
        height: 32px;
        border-radius: 0 5px 5px 0;
      }
    }
    .header_menu {
      ul {
        padding-right: 20px;
        li {
          padding: 0;
          a {
            padding-bottom: 30px;
          }
        }
      }
      .menu_search {
        display: flex;
      }
    }
    .header_search {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    // padding-bottom: 30px;
    .header_logo {
      margin: 0 auto;
    }
    .menu_search {
      display: flex;
      padding-bottom: 20px;
      margin: 0 15%;
      .header_search_input {
        border: 2px solid #085aa0;
        border-radius: 5px 0 0 5px;
      }
      .header_search_button {
        height: 32px;
        border-radius: 0 5px 5px 0;
      }
    }
    .header_menu {
      margin: auto;
      ul {
        padding-right: 20px;
        li {
          padding: 0;
          a {
            padding-bottom: 30px;
          }
        }
      }
      .menu_search {
        display: flex;
      }
    }
    .header_search {
      display: none;
    }
  }
}

@media screen and (max-width: 425px) {
  header {
    flex-direction: column;
    .header_logo {
      margin: 0 auto;
    }
    .menu_search_1 {
      display: none;
    }
    .menu_search {
      // display: flex;
      padding-bottom: 20px;
      margin: 0 15%;
      .header_search_input {
        border: 2px solid #085aa0;
        border-radius: 5px 0 0 5px;
      }
      .header_search_button {
        height: 32px;
        border-radius: 0 5px 5px 0;
      }
    }
    .header_menu_1 {
      display: none;
    }
    .header_menu {
      // display: none;
      ul {
        li {
          padding: 0;
          a {
            font-size: 11px;
            padding-bottom: 20px;
          }
          .sub-menu {
            ul {
              bottom: 14px;
              li {
              }
            }
          }
        }
      }
    }
    .header_search {
      display: none;
    }
    .header_bars {
      position: absolute;
      right: 20px;
      top: 25px;
      display: block;
      transition: all 0.7s;
    }
  }
}

@media screen and (max-width: 375px) {
  header {
    flex-direction: column;
    .header_logo {
      margin: 0 auto;
    }
    .menu_search {
      display: flex;
      padding-bottom: 20px;
      margin: 0 15%;
      .header_search_input {
        border: 2px solid #085aa0;
        border-radius: 5px 0 0 5px;
      }
      .header_search_button {
        height: 32px;
        border-radius: 0 5px 5px 0;
      }
    }
    .header_menu_1 {
      display: none;
    }
    .header_menu {
      ul {
        li {
          padding: 0;
          a {
            font-size: 8px;
            padding-bottom: 20px;
          }
          .sub-menu {
            ul {
              bottom: 20px;
              li {
              }
            }
          }
        }
      }
      .menu_search_1 {
        display: none;
      }
      .menu_search {
        display: flex;
      }
    }
    .header_search {
      display: flex;
    }
  }
}
@media screen and (max-width: 320px) {
  header {
    flex-direction: column;
    .header_logo {
      margin: 0 auto;
    }
    .menu_search {
      display: flex;
      padding-bottom: 20px;
      margin: 0 15%;
      .header_search_input {
        border: 2px solid #085aa0;
        border-radius: 5px 0 0 5px;
      }
      .header_search_button {
        height: 32px;
        border-radius: 0 5px 5px 0;
      }
    }
    .header_menu {
      ul {
        li {
          padding: 0;
          a {
            font-size: 8px;
            padding-bottom: 20px;
          }
          .sub-menu {
            ul {
              bottom: 6px;
              li {
              }
            }
          }
        }
      }
      .menu_search {
        display: flex;
      }
    }
    .header_search {
      display: none;
    }
  }
}
