@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Mansalva&display=swap"');
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
::placeholder {
  color: rgba(8, 89, 160, 0.473);
  font-family: "Karla", sans-serif;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scaleY(0.98) translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu {
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;
  // background: #c6f1e1;
  height: 4rem;
  display: flex;
  background-color: #f4fcfa;
  // background-color: rgb(198, 241, 225);
  justify-content: space-around;
  // .menu_search {
  //   .menu_search_input {
  //     .menu_search_button {
  //     }
  //   }
  // }
  .menu_logo {
    display: flex;
    // width: 250px;

    margin: 0 30px;
    a {
      justify-content: center;
      align-items: center;
      height: 100%;
      // display: flex;

      // justify-content: center;
      // align-items: center;
      font-family: "Alex Brush", cursive;
      font-size: 40px;
      font-weight: 400;
      font-style: normal;
      color: rgb(140, 187, 255);
      /* background: -webkit-linear-gradient(top, rgb(0, 255, 149), rgb(9, 0, 160))
                text; */
      /* background: -webkit-linear-gradient(
                45deg,
                rgb(0, 255, 149),
                rgb(9, 0, 160) 80%
              ); */
      background: -webkit-linear-gradient(#09009f, #00ff95);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      span {
        font-family: "Mansalva", cursive;
        background-color: rgb(25, 175, 235);
        background: -webkit-linear-gradient(
          45deg,
          rgb(9, 0, 160),
          rgb(0, 255, 149)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  > ol {
    max-width: 1000px;
    padding: 0 2rem;
    // margin-right: 155px;
    display: flex;
    > .menu-item {
      cursor: pointer;
      flex: 1;
      padding: 0.75rem 20px;
      &:after {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        bottom: 5px;
        left: calc(50% - 2px);
        background: #085aa0;
        will-change: transform;
        transform: scale(0);
        transition: transform 0.2s ease;
      }
      &:hover {
        cursor: pointer;
        background-color: #f4fcfa;
        .menu_logo {
          display: none;
        }
        &:after {
          transform: scale(1);
        }
      }
    }
  }
}
.menu-item {
  position: relative;
  line-height: 2.5rem;
  text-align: center;
  a {
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    color: #085aa0;
    // font-family: "Karla", sans-serif;
    font-family: "Sriracha", cursive;
    letter-spacing: 1.3px;
    text-transform: uppercase;
  }
  &:hover {
    > .sub-menu {
      display: block;
      position: absolute;
      // left: 2px;
    }
  }
}
.sub-menu {
  .menu-item {
    cursor: pointer;
    padding: 0.75rem 0;
    background-color: #f4fcfa;
    opacity: 0;
    transform-origin: bottom;
    animation: enter 0.2s ease forwards;
    &:nth-child(1) {
      animation-duration: 0.2s;
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-duration: 0.3s;
      animation-delay: 0.1s;
    }
    &:nth-child(3) {
      animation-duration: 0.4s;
      animation-delay: 0.2s;
    }
    &:hover {
      background: #6eb6bf;
      a {
        color: #fff;
      }
    }
    a {
      padding: 0 0.75rem;
    }
  }
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
}
// html {
//   font-size: 16px;
//   font-family: "Fira Mono", monospace;
//   margin: 0;
//   background: #2a363b;
// }
// body {
//   font-size: 16px;
//   font-family: "Fira Mono", monospace;
//   margin: 0;
//   background: #2a363b;
// }
// * {
//   box-sizing: border-box;
//   &:before {
//     box-sizing: inherit;
//   }
//   &:after {
//     box-sizing: inherit;
//   }
// }
a {
  text-decoration: none;
}
@media screen and (max-width: 850px) {
  .sub-menu {
    // margin: 0 auto;
    .menu-item {
      background: #19694c;
      a {
        color: #fff;
      }
      &:hover {
        > .sub-menu {
          display: block;
          position: absolute;
          left: 2px;
        }
      }
    }
    width: 100%;
    // left: -2rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu {
    position: absolute;
    &:after {
      content: "";
      position: absolute;
      top: calc(50% - 2px);
      right: 1rem;
      width: 30px;
      height: 4px;
      background: #62b8a3;
      box-shadow: 0 10px #fff, 0 -10px #fff;
    }
    > ol {
      display: none;
      background: #c6f1e1;
      flex-direction: column;
      justify-content: flex-start;
      height: 100vh;
      animation: fade 0.2s ease-out;
      > .menu-item {
        // margin: 0 20px;
        flex: 0;
        opacity: 0;
        animation: enter 0.3s ease-out forwards;
        &:nth-child(1) {
          animation-delay: 0s;
        }
        &:nth-child(2) {
          animation-delay: 0.1s;
        }
        &:nth-child(3) {
          animation-delay: 0.2s;
        }
        &:nth-child(4) {
          animation-delay: 0.3s;
        }
        &:nth-child(5) {
          animation-delay: 0.4s;
        }
        + {
          .menu-item {
            margin-top: 0.75rem;
          }
        }
        &:after {
          left: auto;
          right: 1rem;
          bottom: calc(50% - 2px);
        }
        &:hover {
          z-index: 1;
        }
      }
    }
    &:hover {
      > ol {
        display: flex;
        position: absolute;
        right: 0;
        top: 64px;

        ol {
          li {
            width: 100%;
            color: black;
          }
        }
      }

      &:after {
        box-shadow: none;
      }
    }
  }
}
