<app-slider></app-slider>
<div class="home_carousel">
  <div class="home_text">
    <h1>
      <div>
        Thương hiệu
      </div>
    </h1>
  </div>

  <div class="home_thuongHieu">
    <div class="container">
      <div class="box">
        <div class="img-box">
          <img src="../../../assets/img/cosmedica_1.jpg" />
        </div>
        <p>
          "Make your skin more beautiful and younger" - Sản phẩm từ Cosmedica
          cam kết sẽ giúp làn da bạn chiến đấu bền vững với thời gian"
        </p>
        <h4>Angela Fakename<br /><span>Creative Director</span></h4>
      </div>

      <div class="box">
        <div class="img-box">
          <img
            src="https://images.freeimages.com/images/premium/large-thumbs/5488/54880468-businessman-profile-icon-male-portrait-flat.jpg"
          />
        </div>
        <p>
          Phasellus eu nibh et tellus finibus dictum. Cras tincidunt et quam
          eget accumsan. Mauris id arcu in augue tincidunt condimentum. Sed
          dapibus lobortis augue id viverra. ut posuere leo ullamcorper id.
        </p>
        <h4>Johnny Notreal<br /><span>Head of Finance</span></h4>
      </div>
    </div>
  </div>

  <!-- <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div ngxSlickItem *ngFor="let slide of slides" class="slide" style="">
      <a href="#"
        ><img src="{{ slide.img }}" alt="" width="100%" style="padding: 0 20%;"
      /></a>
    </div>
  </ngx-slick-carousel> -->
</div>
