.home_carousel {
  margin-top: 50px;
  padding: 0 20px;
  //   h1 {
  //     font-size: 20px;
  //     margin-bottom: 20px;
  //     text-align: center;
  //     color: #085aa0;
  //     font-family: "Karla", sans-serif;
  //     letter-spacing: 1.2px;
  //     text-transform: uppercase;
  //   }
  .home_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", helvetica;
    margin-bottom: 30px;

    h1 {
      position: relative;
      letter-spacing: 3px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 3px;
      padding-right: 30px;
      overflow: hidden;
      color: #085aa0;
      font-family: "Karla", sans-serif;

      div {
        margin: 0 auto;
        white-space: nowrap;
        transform: translateX(calc(100% + 30px));
        animation: leftSlide 1.1s cubic-bezier(0.68, -0.55, 0.265, 1.1) forwards;
      }

      &:before {
        content: "";
        position: absolute;
        right: 0;
        height: 100%;
        background: #085aa0;
        animation: hiddingSlide forwards;
        z-index: 10;
      }

      &::after {
        content: "";
        position: absolute;
        background: white;
        width: 75px;
        margin: auto 0;
        top: 5px;
        bottom: 0;
        height: 70%;
        animation: rightSlide forwards;
      }

      &::after,
      &:before {
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }
  }

  @keyframes leftSlide {
    0% {
      transform: translateX(calc(100% + 30px));
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes rightSlide {
    0% {
      right: 100%;
      width: 70px;
    }
    100% {
      opacity: 1;
      right: 0%;
      width: 24px;
    }
  }

  @keyframes hiddingSlide {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }
}
