@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

.home_carousel {
  font-family: "Sriracha", cursive;
  margin-top: 50px;
  padding: 0 20px;
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #085aa0;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  @media screen and (max-width: 768px) {
    .home_text {
      margin-bottom: 0;
      margin-left: 18px;
      h1 {
        font-size: 30px;
        margin-bottom: 0;
      }
    }
  }
  .home_thuongHieu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // min-height: 100vh;
    background: #ffffff;
    .container {
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 20px;
      box-sizing: border-box;
      padding: 20px;
      .box {
        position: relative;
        padding: 40px;
        transition: 0.5s;
        text-align: center;
        background: #c6f1e1;
        padding-top: 100px;
        &:hover {
          background: #8db6e3;
          p {
            color: #fff;
          }
          h4 {
            color: #fff;
            span {
              color: #fff;
            }
          }
          &:before {
            transform: translateY(-60px);
            opacity: 1;
          }
          &:after {
            transform: rotate(180deg) translateY(-60px);
            opacity: 1;
          }
        }
        p {
          margin: 0;
          padding: 0;
          transition: 0.5s;
          color: #063760;
        }
        h4 {
          margin: 20px 0 0;
          padding: 0;
          transition: 0.5s;
          font-size: 18px;
          font-weight: 700;
          line-height: 20px;
          text-transform: uppercase;
          color: #085aa0;
          span {
            font-weight: 600;
            font-size: 14px;
            color: #777777;
            transition: 0.5s;
          }
        }
        .img-box {
          img {
            width: 150px;
            height: 150px;
          }
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -60px;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          overflow: hidden;
        }
        &:before {
          content: "";
          position: absolute;
          top: 20px;
          right: 40px;
          width: 80px;
          height: 80px;
          background: url(https://static.thenounproject.com/png/275849-200.png);
          background-size: cover;
          opacity: 0.1;
          pointer-events: none;
          transition: 0.5s;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 20px;
          left: 40px;
          width: 80px;
          height: 80px;
          background: url(https://static.thenounproject.com/png/275849-200.png);
          background-size: cover;
          opacity: 0.1;
          pointer-events: none;
          transition: 0.5s;
          transform: rotate(180deg) translateY(0px);
        }
        .btn-bg {
          width: 100%;
          height: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .changeButton {
          height: 50px;
        }
        .btn-bg.bg-1 {
          .btn-1 {
            button {
              color: #085aa0;
              background: transparent;
              border: 2px solid #085aa0;
              border-radius: 5px;
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease;
              -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
              a {
                color: #085aa0;
              }
              &:hover {
                background: #085aa0;
                color: #6ab1c9;
                border: 2px solid #6ab1c9;
                -webkit-transition: all 0.35s ease;
                transition: all 0.35s ease;
                > a {
                  color: #6ab1c9;
                  -webkit-transition: all 0.35s ease;
                  transition: all 0.35s ease;
                }
              }
              &:active {
                -webkit-transform: translate(5px, 5px);
                transform: translate(5px, 5px);
              }
            }
          }
        }
      }
    }
    @media (max-width: 768px) {
      .container {
        .box {
          margin-top: 80px;
        }
      }
    }
  }

  .home_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      position: relative;
      letter-spacing: 3px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 3px;
      padding-right: 30px;
      overflow: hidden;
      color: #085aa0;

      div {
        margin: 0 auto;
        white-space: nowrap;
        transform: translateX(calc(100% + 30px));
        animation: leftSlide 1.1s cubic-bezier(0.68, -0.55, 0.265, 1.1) forwards;
      }

      &:before {
        content: "";
        position: absolute;
        right: 0;
        height: 100%;
        background: #8db6e3;
        animation: hiddingSlide forwards;
        z-index: 10;
      }

      &::after {
        content: "";
        position: absolute;
        background: white;
        width: 75px;
        margin: auto 0;
        top: 5px;
        bottom: 0;
        height: 70%;
        animation: rightSlide forwards;
      }

      &::after,
      &:before {
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }
  }

  @keyframes leftSlide {
    0% {
      transform: translateX(calc(100% + 30px));
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes rightSlide {
    0% {
      right: 100%;
      width: 70px;
    }
    100% {
      opacity: 1;
      right: 0%;
      width: 24px;
    }
  }

  @keyframes hiddingSlide {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }
}
.testimonials {
  margin: 4% 0;
  color: #063760;
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 1px;
      padding: 0;
      text-indent: -999px;
      cursor: pointer;
      background-color: #000;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #fff;
      border-radius: 10px;
    }
    .active {
      width: 12px;
      height: 12px;
      margin: 0;
      background-color: #fff;
    }
  }
  .carousel-control-prev {
    opacity: 0;
  }
  .carousel-control-next {
    opacity: 0;
  }
  .nhanXet {
    font-family: "Sriracha", cursive;
    text-align: center;
    padding: 5% 10%;
    background-color: #c6f1e1;
    height: 550px;
    width: 100%;
    h1 {
      margin: 3% 0;
    }
    .nhanXet_ten {
      font-size: 18px;
    }
    .avatar {
      img {
        background-color: white;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin-top: 2%;
      }
    }
  }
}
.video {
  h1 {
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    color: #085aa0;
    font-family: "Sriracha", cursive;
  }
  p {
    line-height: 1.2;
    color: #085aa0;
    font-family: "Sriracha", cursive;
    font-size: 14px;
    text-align: center;
  }
}
