.sanPham_chucNang {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.right {
  float: right;
  padding: 2em 0 2em 2em;
}
.sanPham_danhSach {
  tr {
    .th-1 {
      width: 60px;
    }
    .th-2 {
      width: 200px;
    }
    .th-3 {
      width: 150px;
    }
    .th-4 {
      width: 200px;
    }
    .th-5 {
      width: auto;
    }
    .th-6 {
      width: 100px;
    }
    .th-7 {
      width: 400px;
    }
  }
}
