<div class="modal-header">
  <h4 class="modal-title">{{my_modal_title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="suaLoaiSanPhamForm" (ngSubmit)="onSubmit()">
    <div class="form-group" >
      <label for="">
        Tên thương hiệu
      </label>
      <input type="text" formControlName="tenLoaiSp" class="form-control" [(ngModel)]="loaiSanPham.tenLoaiSp" required>
    </div>
    <div class="form-group">
      <label for="">
        Mô tả
      </label>
      <textarea type="text" formControlName="moTa" [(ngModel)]="loaiSanPham.moTa" class="form-control" required> </textarea>
    </div>
    <div class="btn-right">
      <button type="button" class="btn btn-outline-dark mr-2" (click)="activeModal.close('Close click')">Đóng</button>
      <button type="button" class="btn btn-primary" type="submit">Lưu</button>
    </div>
  </form>
</div>