<div class="kichCo">
  <div class="header-kichCo">
    <h3>
      Danh Sách Kích Cỡ
    </h3>
    <button type="button" class="btn btn-success" (click)="moThemKc()">
      Thêm kích cỡ  
    </button>
  </div>
  <div class="sanPham_danhSach">
    <div class="table-responsive">
      <table class="table">
        <thead> 
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên Kích Cỡ</th>
            <th scope="col">Giá</th>
            <th scope="col">Tùy chọn</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of kichCoSP; let i = index">
            <td>{{ i + 1 }}</td>
            <th scope="row" >{{item.tenKichCo}}</th>
            <td>{{ item.giaSp }}</td>
            <td>  
              <button type="button" class="btn btn-primary mr-2" (click)="moSuaKc(item.id,item.tenKichCo)">Sửa</button>
              <button type="button" class="btn btn-danger" (click)="moXoaKc(item.id,item.tenKichCo)">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
